.menu-text {
    font-weight: bold;
}

.green {
    color: green;
}

.c1 {
    color: #ab3838;
}

.c2 {
    color: #de8d3d;
}

.c3 {
    color: #a19b86;
}

.menu_horizontal {
    list-style: none;
}

#offset-center {
    margin-left : 4em;
}

li{
    float: left;
}


/* Updated styles for login form */
#login-form {
    text-align: center;
}

.form-group {
    text-align: left; 
}

.login-form-field {
    width: 40%; 
    padding: 10px;
    margin: 10px 0; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

#login-submit-button, #signupbtn {
    width: 40%; 
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#login-submit-button {
    background-color: #007bff;
    color: #fff;
}

#login-submit-button:hover {
    background-color: #0056b3;
}

#signupbtn {
    background-color: #28a745;
    color: #fff;
}

#signupbtn:hover {
    background-color: #218838;
}

.button-container {
    margin-top: 20px;
}

