.content {
    border-bottom: solid 1px gray;
    margin: 2em 5em 2em 5em;
    padding: 1em;
}

.menu-text {
    font-weight: bold;
}

.green {
    color: green;
}

.c1 {
    color: #ab3838;
}

.c2 {
    color: #de8d3d;
}

.c3 {
    color: #a19b86;
}

.menu_horizontal {
    list-style: none;
}

#offset-center {
    margin-left : 4em;
}

li{
    float: left;
}

#signupbtn {
    background: green;
    color: white;
    border: 2px solid green;
    transition: none;
    margin: 0;
    min-width: 250px;
    display: inline-block;
    vertical-align: middle;
    padding: 0.85em 1em;
    border-radius: 3px;
    line-height: 1;
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 160px; 
    left: -120px; 
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}

