.menu_horizontal {
    list-style: none;
}

.menu_horizontal li{
    float: left;
}

.container { 
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 160px; 
    left: -160px; 
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    white-space: nowrap;
}

.dropdown:hover .dropdown-content {
    display: block;
}


